/* font */

/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* dm sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Kalnia */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia:wght@100..700&display=swap');

/* roman */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Romanesco&display=swap');

@font-face {
    font-family:Love You;
    src: url(Tirelessly\ Love\ You.ttf);
}


/* {
    font-family: "Roboto", sans-serif;
    font-family: "DM Sans", sans-serif;
    font-family: "Inter", sans-serif;
    font-family: "Kalnia", serif;
} */

/* utility */

:root {
  --primary: #ed1c27;
  --primary_hover: #d51923;
  --text: #555555;
  --text_light: #999999;
  --accent: #000000;
  --border: #e2e0e0;
  --background: #ffffff;
  --bg_light: #faf2e7;
  --white: #ffffff;
  --highlights: #ff1c6a;
  --hero-bg-primary-color:  #00d084;
  --hero-bg-secondary-color: #9b51e0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,
button,
input,
textarea{
    font-family: "DM Sans", sans-serif;
}

p{
    font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Kalnia", serif;
}

a{
    text-decoration: none;
    display: inline-block;
}


.nav-p p{
    color: var(--text_light);
    font-size: 14px;
}

.nav-p a{
    color: var(--primary);
    font-size: 15px;
}

.nav-link {
    color: var(--accent) !important;
    padding-inline: 20px !important;
}

.nav-item a{
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    background-color: var(--highlights);
    height: 1px;
    width: 0;
    left: 0;
    bottom: 8px;
    transition: all 0.4s;
}

.nav-link:hover::after{
    width: 100%;
}

.navbar-icons i{
    font-size: 20px;
    transition: all 0.4s;
    cursor: pointer;
}

.navbar-icons i:hover{
    color: var(--primary_hover);
    transform: rotate(360deg);
}

.metapos-logo{
    width: 185px;
    height: 80px;
    object-fit: cover;
}

.bg-purple{
    background: #8b7ce1;
    height: 900px;
    clip-path: ellipse(100% 90% at 50% 10%);
}

.bg-purple > img{
    width: 350px;
    height: 600px;
}

.bg-green{
    background: #64a55f;
    height: 900px;
    clip-path: ellipse(100% 90% at 50% 10%);
}

.hero-img-3{
   width: 650px;
   height: 800px;
}

.hero-img-1{
    position: absolute;
    left: 80px;
    top: 150px;
}

.hero-img-2{
    position: absolute;
    right: 70px;
    top: 150px;
}

.hero-disc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 750px;
    padding-block: 14px;
}

.hero-disc p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 200;
}

.hero-disc h1{
    color: var(--white);
    font-size: 80px;
}

.hero-disc-second-p{
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 200;
}

.primary-btn{
    background-color: var(--primary);
    color: var(--white);
    width: 170px;
    text-align: center;
    padding: 18px 16px;
    margin-top: 20px;
    border-radius: 9999px;
    transition: all 0.4s;
}

/* .primary-btn:hover span{
    transform: translateX(-8px);
}

.primary-btn:hover .btn-icon{
    order: 2;
    transform: translateX(6px);
} */

.btn-icon{
    opacity: 1;
    margin-right: 8px;
    transition: all 0.4s;
}

.btn-icon-2{
    opacity: 0;
    transition: all 0.4s;
}

.primary-btn:hover .btn-icon-2{
    opacity: 1;
    transition: all 0.4s;
}

.primary-btn:hover .btn-icon{
    opacity: 0;
}

.primary-btn:hover{
    letter-spacing: 1.2px;
}

.element-1{
    position: absolute;
    top: 60px;
    left: -47px;
}

.element-3{
    position: absolute;
    top: 70px;
    right: 14px;
}

.element-2{
    position: absolute;
    bottom: 170px;
    left: 450px;
}

.element-4{
    position: absolute;
    bottom: 170px;
    right: 400px;
}

.hero-img-3{
    position: absolute;
    right: -110px;
    bottom:36px;
}

.element-5{
    position: absolute;
    top: 50px;
    left: 40px  ;
}

.element-6{
    position: absolute;
    top: 50px;
    right: 30px  ;
}



/* first card-section */

.first-card-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.first-section-heading{
    color: var(--accent);
    font-size: 64px;
    font-weight: 500;
    line-height: 1.125em;
    letter-spacing: 0px;
    text-align: center;
}

.card-outer{
    background-size: contain;
    background-position: top center;
    background-repeat: repeat-x;
    padding: 60px 50px;
    cursor: pointer;
}


.card-outer img{
    transition: all 0.3s;
}

.card-info p{
    font-family: Tirelessly Love You;
    font-size: 35px;
    font-weight: 200;
}

.card-info h3{
    color: var(--white);
    font-size: 40px;
    font-weight: 400;
}

.secondary-btn{
    background-color: var(--background);
    color: var(--accent);
    width:auto;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    border-radius: 9999px;
    transition: all 0.4s;
    font-weight: 500;
}

.secondary-btn:hover .btn-icon-2{
    opacity: 1;
}

.secondary-btn:hover .btn-icon{
    opacity: 0;
}

.secondary-btn:hover{
    letter-spacing: 1px;
}

.card-outer:hover img{
    transform: scale(1.02);
}


/* product section */

.product-section{
    background: #faf3e7;
    height: auto;
    margin-top: 60px;
    padding-top: 80px;
}

.product-heading{
    font-size: 48px;
    font-weight: 500;
    color: var(--accent);
    letter-spacing: 3px;
}

.product-p{
    color: var(--text);
    padding: 0px 20px 0px 20px;
}

.btn{
    color: var(--accent);
    font-weight: 600;
    transition: all 0.3s;
}

.btn-icon-3{
    color: var(--primary);
    margin-right: 8px;
}

.btn-icon-4{
    opacity: 0;
    color: var(--primary);
}

.btn:hover .btn-icon-4{
    opacity: 1;
}

.btn:hover .btn-icon-3{
    opacity: 0;
}

.btn:hover{
    letter-spacing: 1px;
}

.rating{
    color: #f8c045;
    font-size: 14px;
}

.rating span{
    color: var(--text_light);
}

.product-info a{
    color: var(--accent);
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.3s;
}


.product-info a:hover{
    color: var(--primary_hover);
}

.product-info p{
    color: var(--accent);
    font-size: 16px;
    letter-spacing: 2px;
}

.icon-on-img{
    position: absolute;
    top: 8px;
    right: 20px;
    transition: all 0.5s;
}

.product-img img{
    transition: all 0.8s;
    cursor: pointer;
}

.product-img:hover .icon-on-img i{
    opacity: 1;
    transition: all 0.8s;
}

.product-img:hover .icon-on-img{
    transition: all 0.5s;
    /* right: 20px; */
}

.icon-on-img i{
    display: block;
    padding-block: 20px;
    cursor: pointer;
    opacity: 0;
  border: 2px solid white;
  background-color: white;

}

.heart, .shuffle, .eye, .bag{
    width: 44px !important;
    height: 44px;
    background-color: var(--background);
    border-radius: 9999px;
    line-height: 0.3 !important;
    margin-bottom: 6px;
}

.bag{
    margin-top: 60px;
    color: var(--primary);
    opacity: 1 !important;
}

/* discover section */

.discover-section{
    background-color: var(--background);
    height: auto;
    padding-top: 90px;
    padding-bottom: 200px;
}

.discover-heading{
    color: var(--accent);
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 3px;
}

.discover-p{
    font-size: 50px;
    margin-left: 200px;
    font-family: Tirelessly Love You;
    color: var(--primary);
}

.text-small{
    color: var(--text_light);
    font-weight: 200;
    letter-spacing: 2px;
}

.discover-links{
    padding-bottom: 10px;
}

.discover-links img{
    width: 14px;
    height: 14px;
}

.discover-links a{
    color: var(--accent);
    font-size: 15px;
    margin-left: 6px;
}

.discover-btn-1 span{
    color: var(--white);
    font-size: 17px;
    font-weight: 500;
}

.discover-btn-1{
    background-color: var(--primary);
    padding: 12px 22px;
    border-radius: 30px;
    position: relative;
    color: var(--white);
    font-weight: 500;
}

.discover-btn-1 i{
    color: var(--white);
}

.discover-btn-1:hover .btn-icon-2{
    opacity: 1;
    transition: all 0.4s;
}

.discover-btn-1:hover .btn-icon{
    opacity: 0;
}

.discover-btn-2{
    margin-left: 20px;
    color: var(--accent);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
}

.discover-btn-2 i{
    color: var(--primary);
    font-size: 18px;
}

.discover-img{
    margin-left: 110px;
    position: relative;
}

.discover-img > img{
    animation: rotate 11s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.ice-cream-img-1{
    position: absolute;
    top: 0;
    left: 20px;
}

.ice-cream-img-2{
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 1;
}

.group-img-1{
    position: absolute;
    top: 358px;
    left: -206px;
}

.group-img-2{
    position: absolute;
    top: 0;
    right: -30px;
}

.group-img-3{
    position: absolute;
    bottom: -100px;
    right: 10px;
}

/* Flavor of the Week */

.flavor-week{
    background: #311c1a;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.flavored-icecream-img-1{
    transform: rotate(10deg);
}

.flavored-icecream-img-2{
    transform: rotate(10deg);
}

.flavor-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flavor-info-p1{
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.flavor-info-p2{
    color: var(--white);
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 14px;
}

.flavor-info-heading{
    color: var(--white);
    font-size: 64px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.125em;
    letter-spacing: 0px;
}

.reminder h2{
    color: var(--white);
    padding: 0px 10px;
    margin-top: 18px;
    font-size: 40px;
}

.explore-btn{
    background-color: var(--primary);
    color: var(--white);
    width: 220px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 9999px;
    transition: all 0.4s;
}

.explore-btn:hover .btn-icon-2{
    opacity: 1;
    transition: all 0.4s;
}

.explore-btn:hover .btn-icon{
    opacity: 0;
}

.explore-btn:hover{
    letter-spacing: 1.2px;
}

/* testimonial-section */
.testimonial-section{
    padding-top: 90px;
    padding-bottom: 60px;
    background: var(--background);
}

.decor-img-1{
    position: absolute;
    top: 220px;
    left: 150px;
    height: 242px;
}

.decor-img-2{
    position: absolute;
    top: 220px;
    right: 150px;
    height: 242px;
}

.testimonial-section .carousel-inner{
    width: 800px;
    margin: auto;
    height: 100%;
    margin-top: 5rem;
}

.review-text{
    color: var(--accent);
    font-size: 20px;
    line-height: 1.25;
    text-align: center;
}

.reviewer{
    color: var(--accent);
    text-align: center;
}

.testimonial-section .carousel-control-next, .carousel-control-prev{
    background-color: var(--primary);
    border: 1px solid #eee;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}

.carousel-control-next{
    top: 50px !important;
}

.carousel-control-prev{
    top: 50px !important;
}

.testimonial-element-1{
    position: absolute;
    top: 80px;
    left: 0;
}

.testimonial-element-2{
    position: absolute;
    bottom: 12px;
    right: 25px;
}

/* best deal section */
.best-deal{
    margin-top: 100px;
    background: #70424f;
    height: 700px;
    padding: 70px 66px;
}

.best-deal-info .best-deal-p1{
    font-size: 14px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.best-deal-info .best-deal-heading{
    color: var(--white);
    font-size: 60px;
    font-weight: 500;
    text-transform: capitalize;
}

.best-deal-info .best-deal-p2{
    font-family: Tirelessly Love You;
    text-align: center;
    font-size: 48px;
}

.best-deal-btn{
    background-color: var(--background);
    color: var(--accent);
    width: 305px;
    text-align: center;
    padding: 10px;
    border-radius: 9999px;
    transition: all 0.4s;
}

.best-deal-btn:hover .btn-icon-2{
    opacity: 1;
    transition: all 0.4s;
}

.best-deal-btn:hover .btn-icon{
    opacity: 0;
}

.best-deal-btn:hover{
    letter-spacing: 1.2px;
}

.best-deal-p3{
    color: var(--white);
    font-size: 14px;
    line-height: 2;
}

.best-deal-2{
    background: #83b771;
    margin-top: 100px;
    height: 700px;
    padding: 70px 66px;
    /* background-image: url(../images/h2_vector1.png); */
    background-size: contain;
    background-position: top center;
    background-repeat: repeat-x;
}

.call-icon{
    background: var(--background);
    color: var(--primary);
    width: 50px !important;
    height: 50px;
    border-radius: 9999px;
    line-height: 3 !important;
    font-size: 18px;
}

marquee{
    padding-top: 90px;
}

marquee img{
    padding: 0px 20px;
    margin-bottom: 55px;
}

marquee span{
    color: var(--primary);
    font-family: "Kalnia", Sans-serif;
    font-size: 96px;
    font-weight: 500;
    text-transform: uppercase;
}

hr{
    color: var(--primary) !important;
    opacity: 1 !important;
    margin: 0 !important
}

/* outlet section */
.outlet-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--background);
}
.outlet-p1{
    font-family:Love You;
    color: var(--primary);
    font-size: 64px;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.category-title{
    font-family:Love You;
}

.outlet-heading{
    color: var(--accent);
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.outlet-p2{
    color: var(--text);
    letter-spacing: 1px;
    line-height: 1.25rem;
    font-weight: 300;
}

.outlet-1{
    border-right: 1px solid #e3e0e0;
    padding: 0 24px;
}

/*  Our services section */
.services-section{
    padding-top: 90px;
    padding-bottom: 100px;
}

.inner img{
    background-color: #faf3e7;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin-bottom: 12px;
    transition: all 0.3s;
    object-fit: contain;
}

.outer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
    margin: auto;
}


.inner p{
    color: var(--text);
}

.inner h3:hover .inner img{
    width: 80px;
    height: 80px;
}

/* footer section */
.footer-area{
    background: var(--accent);
    height: auto;
    margin-top: 100px;
    clip-path: ellipse(100% 100% at 50% 100%);
}

.footer-text{
    text-align: center;
    padding-top: 150px;
}

.footer-text h3{
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.125em;
}

.footer-area .form-control {
    width: 500px;
    margin: auto;
    padding: 15px !important;
    border-radius: 9999px;
    margin-top: 30px;
}

.footer-area .form-control:focus{
    border: 1px solid var(--primary);
}

.form-btn{
    display: inline-flex;
    align-items: center;
    gap: 2px;
    background-color: var(--primary);
    color: var(--white);
    width: 170px;
    padding: 15px 20px;
    border-radius: 9999px;
    transition: all 0.4s;
    text-align: center;
    position: absolute;
    top: 0;
    right: 398px;
}

.form-btn span{
    display: inline-block;
    font-size: 17px;
    letter-spacing: 1px;
    transition: all 0.4s;
}

.form-btn:hover span{
    transform: translateX(-2px);
}

.form-btn i{
    display: inline-block;
    transition: all 0.3s;
}

.form-btn:hover i{
    order: 4;
    transform: translateX(2px);
}

.second-hr{
    color: #1a1a1a !important;
}

.contact-us h6{
    color: var(--white);
}

.contact-us p{
    color: var(--text_light);
    font-size: 15px;
    letter-spacing: 2px;
}

.contact-us i{
    color: var(--text_light);
    font-size: 17px;
    padding: 0 20px;
}

.information{
    color: var(--white);
}

.information p{
    margin-bottom: 6px !important;
}

.information a{
    color: var(--text_light);
    transition: all 0.3s;
}

.information a:hover{
    color: var(--primary_hover);
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 30px;
}

.navbar-brand {
    margin-right: 0px !important;
}

.hamburger-icon{
    width: 60px;
    height: 60px;
}
.primary-btn{
  background-color: red;
  color: white;
}
.secondary-btn{
  background-color: white;
  color: black;
}
.discover-btn-1{
  background-color: red;
  color: white;
}

.category-item:nth-child(odd) {
  padding-top: 10px;
}

.category-item:nth-child(even) {
  padding-top: 70px;
}

